.div_north{
		height:60px;
		background:#B3DFDA;
		padding:10px ;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
}
.div_west{
	width:150px;
	padding:10px;
	font-size: 19px;
}
.div_a{
	width:120px;
	display: block;
	margin: 10px 0px;
}
.div_spans{
	font-size: 16px;
	float:right;
	padding-top: 22px;
	color: #9e9e9e;
}